AUTHOR: padobure
TITLE: {{.Title}}
BASENAME: {{.Filename}}
STATUS: Publish
ALLOW COMMENTS: 1
ALLOW PINGS: 1
CONVERT BREAKS: markdown
PRIMARY CATEGORY: {{.Primarycategory}}
CATEGORY: {{.Secondarycategory}}
DATE: {{.Date}}
IMAGE: https://cdn-ak.f.st-hatena.com/images/fotolife/p/padobure/20210606/20210606140507.png
-----
BODY:
{{.Body}}
-----
--------
